<div>
    <select name="selectedNotification" size="10" (change)="selectedNotificationChanged($event.target.value)">
        <option value="{{i}}" *ngFor="let notification of config.notifications; let i = index">
            {{notification.displayName}}            
        </option>                 
    </select>
</div>
<div>
    <form (ngSubmit)="save()" [formGroup]="rootFormGroup">
        <notification-config *ngIf="selectedNotification" [item]="notification" [notification]="selectedNotification"></notification-config> 
        <button type="submit" (click)="submit($event)">save</button>
        <div>
            {{selectedNotification|json}}
        </div>
    </form>
</div>