<div>    
    <div> 
        <label>username</label>
        <input type="text" /> 
    </div>

    <div class="bitbucket-settings"> 
        <div>
            <label>api base url</label>
            <input type="url" /> 
        </div>
        <div>
            <label>user name</label>
            <input type="text" /> 
        </div>
        <div>
            <label>password</label>
            <input type="password" /> 
        </div>
        <div>
            <label>project key</label>
            <input type="text" /> 
        </div>
        <div>
            <label>repository slug</label>
            <input type="text" /> 
        </div>
    </div>
</div>