<div id="notification-config-container" [formGroup]="item"> 
    <div>
        <label>Display name:</label>
        <input formControlName="displayName" />
    </div>
    <notification-provider-selector [notification]="notification" [item]="item"></notification-provider-selector>
    <notification-trigger [trigger]="notification.trigger" [item]="item.get('trigger')" ></notification-trigger> 
    <div id="presentations-container">    
        <presentation-selector *ngFor="let presentation of notification.presentation; let i = index" [presentation]="presentation" [item]="item.get('presentation').controls[i]" [notification]="notification" ></presentation-selector> 
    </div>
</div>