<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--credentials will be ignored if username and password(cleartext) are passed as 1st and second commandline argument-->
    
    <!--clear text username-->
    <add key="username" value="cleartextUsername"/>
    
    <!--base64 encoded password-->
    <add key="password" value="YmFzZTY0RW5jb2RlZFBhc3N3b3Jk"/>
  </appSettings>    
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>