.settings-block
{ 
    margin: 10px;
}
.settings-block-title
{
    font-size: 110%;
    font-weight: bold;
}
.notification-provider-settings-container
{
    margin: 10px;
}

.notification-section-title
{    
    font-size: 110%;
    font-weight: bold;    
}