<div class="notification-provider-settings atlassian-ci-notification-provider" [formGroup]="item">

    <div> 
        <label>planKey</label>
        <input type="text" formControlName="planKey" /> 
    </div>

    <div class="bitbucket-settings settings-block" [formGroup]="item.get('bitbucketSettings')"> 
        <div class="settings-block-title">
            <label>bitbucket settings</label>            
        </div>
        <div>
            <label>api base url</label>
            <input type="url" formControlName="apiBaseUrl"/> 
        </div>
        <div>
            <label>user name</label>
            <input type="text" formControlName="username"/> 
        </div>
        <div>
            <label>password</label>
            <input type="password" formControlName="password"/> 
        </div>
        <div>
            <label>project key</label>
            <input type="text" formControlName="projectKey"/> 
        </div>
        <div>
            <label>repository slug</label>
            <input type="text" formControlName="repoSlug"/> 
        </div>
    </div>

    <div class="bamboo-settings settings-block" [formGroup]="item.get('bambooSettings')"> 
            <div class="settings-block-title">
                <label>bamboo settings</label>            
            </div>
            <div>
                <label>api base url</label>
                <input type="url" formControlName="apiBaseUrl"/> 
            </div>
            <div>
                <label>user name</label>
                <input type="text" formControlName="username"/> 
            </div>
            <div>
                <label>password</label>
                <input type="password" formControlName="password"/> 
            </div>        
        </div>
</div>